.circle {
    position: fixed;
    transform: translate(-50%, -50%);
    top: 0;
    left: 0;
    background-color: rgba(249, 101, 252, .3);
    z-index: 100;
    border-radius: 50%;
    pointer-events: none
}

.circle.sm {
    width: 30px;
    height: 30px;
}

.circle.md {
    width: 60px;
    height: 60px;
}

.circle.lg {
    width: 90px;
    height: 90px;
}

.outline {
    background-color: transparent;
    border: 1px #FAE4C4 solid;
}

.filled {background-color: #FAE4C4;}