#smallLogoContainer {
    
}

#angular-logo { width: 75px; right: 40px; bottom: 115px;}

#css-logo {bottom: 300px; width: 90px; right: 40px}

#bootstrap-logo{bottom: 130px; right: 75px; width: 120px;}

#html-logo { width: 90px; right: 370px; bottom: 40px}

#jquery-logo { width: 60px; bottom: 135px}

#mui-logo {width: 120px; bottom: 200px; left: 100px}

#js-logo {width: 90px; left: 170px; bottom: 170px}