#lightsContainer__projects > *:hover {
    opacity: 0
}

.grid-item__projects {
    height: 300px;
    max-width: 250px;
}

#lightsContainer__projects > * {
    position: relative;
    margin-right: 20px;
}

#light0 {right: 70px; top: 65px;}
#light1 {left: 10px; bottom: 20px}
#light2 {left: 20px; top: 20px}
#light3 {left: 80px; bottom: 50px}
#light4 {left: 100px; top: 0px}